[submodule "ai/covid-sim"]
	path = ai/covid-sim
	url = git@github.com:lvanhee/COVID-sim.git
[submodule "games/40k-roll-simulator"]
	path = games/40k-roll-simulator
	url = git@github.com:Grzegorz23/40K-roll-simulator.git
[submodule "games/libtcod"]
	path = games/libtcod
	url = git@github.com:libtcod/libtcod.git
[submodule "lisp/rules-editing-mode"]
	path = lisp/rules-editing-mode
	url = git@github.com:pdorrell/rules-editing-mode.git
[submodule "python/doit"]
	path = python/doit
	url = git@github.com:pydoit/doit.git
[submodule "python/git-autohooks"]
	path = python/git-autohooks
	url = git@github.com:greenbone/autohooks.git
[submodule "python/pycairo"]
	path = python/pycairo
	url = git@github.com:pygobject/pycairo.git
[submodule "python/pyparsing"]
	path = python/pyparsing
	url = git@github.com:pyparsing/pyparsing.git
[submodule "python/sdxpy"]
	path = python/sdxpy
	url = git@github.com:gvwilson/sdxpy.git
[submodule "python/sorobn"]
	path = python/sorobn
	url = git@github.com:MaxHalford/sorobn
[submodule "misc/milewski-ctfp-pdf"]
	path = misc/milewski-ctfp-pdf
	url = git@github.com:hmemcpy/milewski-ctfp-pdf.git
[submodule "misc/collective-knowledge"]
	path = misc/collective-knowledge
	url = git@github.com:mlcommons/ck.git
[submodule "ai/classical-domains"]
	path = ai/classical-domains
	url = git@github.com:AI-Planning/classical-domains.git
[submodule "godot/WAT"]
	path = godot/WAT
	url = git@github.com:AlexDarigan/WAT
[submodule "ai/the-witness-solver"]
	path = ai/the-witness-solver
	url = git@github.com:Bickio/the-witness-solver.git
[submodule "ai/cartago"]
	path = ai/cartago
	url = git@github.com:CArtAgO-lang/cartago.git
[submodule "erlang/curriculum"]
	path = erlang/curriculum
	url = git@github.com:DockYard-Academy/curriculum.git
[submodule "websites/unmaintainable-code"]
	path = websites/unmaintainable-code
	url = git@github.com:Droogans/unmaintainable-code.git
[submodule "rust/rust-algorithms"]
	path = rust/rust-algorithms
	url = git@github.com:EbTech/rust-algorithms.git
[submodule "awesomes/awesome-artificial-intelligence-guidelines"]
	path = awesomes/awesome-artificial-intelligence-guidelines
	url = git@github.com:EthicalML/awesome-artificial-intelligence-guidelines.git
[submodule "godot/godot-procedural-generation"]
	path = godot/godot-procedural-generation
	url = git@github.com:GDQuest/godot-procedural-generation.git
[submodule "godot/godot-shaders"]
	path = godot/godot-shaders
	url = git@github.com:GDQuest/godot-shaders.git
[submodule "godot/godot-steering-ai-framework"]
	path = godot/godot-steering-ai-framework
	url = git@github.com:GDQuest/godot-steering-ai-framework.git
[submodule "games/HITMAN"]
	path = games/HITMAN
	url = git@github.com:HHCHunter/HITMAN.git
[submodule "csharp/Computational-geometry"]
	path = csharp/Computational-geometry
	url = git@github.com:Habrador/Computational-geometry.git
[submodule "godot/super-godot-galaxy"]
	path = godot/super-godot-galaxy
	url = git@github.com:Hugo-Dz/super-godot-galaxy.git
[submodule "epub/epub3-samples"]
	path = epub/epub3-samples
	url = git@github.com:IDPF/epub3-samples.git
[submodule "awesomes/awesome-android"]
	path = awesomes/awesome-android
	url = git@github.com:JStumpp/awesome-android.git
[submodule "awesomes/awesome-chatbots"]
	path = awesomes/awesome-chatbots
	url = git@github.com:JStumpp/awesome-chatbots.git
[submodule "awesomes/awesome-kotlin"]
	path = awesomes/awesome-kotlin
	url = git@github.com:KotlinBy/awesome-kotlin.git
[submodule "data/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words"]
	path = data/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words
	url = git@github.com:LDNOOBW/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words.git
[submodule "websites/learn-prolog"]
	path = websites/learn-prolog
	url = git@github.com:LearnPrologNow/lpn.git
[submodule "games/LegendaryExplorer"]
	path = games/LegendaryExplorer
	url = git@github.com:ME3Tweaks/LegendaryExplorer.git
[submodule "csharp/woo-besluit-broncode-digid-app"]
	path = csharp/woo-besluit-broncode-digid-app
	url = git@github.com:MinBZK/woo-besluit-broncode-digid-app.git
[submodule "python/ALIAS"]
	path = python/ALIAS
	url = git@github.com:Open-Argumentation/ALIAS.git
[submodule "python/SADFace"]
	path = python/SADFace
	url = git@github.com:Open-Argumentation/SADFace.git
[submodule "data/GenAI-snapshots"]
	path = data/GenAI-snapshots
	url = git@github.com:OpenTermsArchive/GenAI-snapshots.git
[submodule "data/GenAI-versions"]
	path = data/GenAI-versions
	url = git@github.com:OpenTermsArchive/GenAI-versions.git
[submodule "data/dating-snapshots"]
	path = data/dating-snapshots
	url = git@github.com:OpenTermsArchive/dating-snapshots.git
[submodule "data/pga-versions"]
	path = data/pga-versions
	url = git@github.com:OpenTermsArchive/pga-versions.git
[submodule "data/terms-types"]
	path = data/terms-types
	url = git@github.com:OpenTermsArchive/terms-types.git
[submodule "godot/Godot-Game-Engine-Projects"]
	path = godot/Godot-Game-Engine-Projects
	url = git@github.com:PacktPublishing/Godot-Game-Engine-Projects.git
[submodule "python/astroid"]
	path = python/astroid
	url = git@github.com:PyCQA/astroid.git
[submodule "python/pylint"]
	path = python/pylint
	url = git@github.com:PyCQA/pylint.git
[submodule "erlang/Pyrlang"]
	path = erlang/Pyrlang
	url = git@github.com:Pyrlang/Pyrlang.git
[submodule "erlang/Term"]
	path = erlang/Term
	url = git@github.com:Pyrlang/Term.git
[submodule "python/scons"]
	path = python/scons
	url = git@github.com:SCons/scons.git
[submodule "ai/swipl"]
	path = ai/swipl
	url = git@github.com:SWI-Prolog/swipl.git
[submodule "games/falloutshelter-wiki"]
	path = games/falloutshelter-wiki
	url = git@github.com:Sharlikran/fsdoc.git
[submodule "epub/sigil"]
	path = epub/sigil
	url = git@github.com:Sigil-Ebook/sigil-user-guide.git
[submodule "ai/soar-agents"]
	path = ai/soar-agents
	url = git@github.com:SoarGroup/Agents.git
[submodule "ai/DPDDL"]
	path = ai/DPDDL
	url = git@github.com:SoarGroup/Domains-Planning-Domain-Definition-Language.git
[submodule "ai/soar"]
	path = ai/soar
	url = git@github.com:SoarGroup/Soar.git
[submodule "games/telltale-docs"]
	path = games/telltale-docs
	url = git@github.com:Telltale-Modding-Group/ttarch-docs.git
[submodule "games/witcherscript"]
	path = games/witcherscript
	url = git@github.com:Traderain/WitcherScript.git
[submodule "data/unity-terms-of-service"]
	path = data/unity-terms-of-service
	url = git@github.com:Unity-Technologies/TermsOfService.git
[submodule "games/halflife"]
	path = games/halflife
	url = git@github.com:ValveSoftware/halflife.git
[submodule "games/source-sdk-2013"]
	path = games/source-sdk-2013
	url = git@github.com:ValveSoftware/source-sdk-2013.git
[submodule "lisp/wilfred-dot-emacs"]
	path = lisp/wilfred-dot-emacs
	url = git@github.com:Wilfred/.emacs.d.git
[submodule "data/photoreference_for_3d_artists"]
	path = data/photoreference_for_3d_artists
	url = git@github.com:YeHang-GitHub/PhotoReference_For_3DArtist.git
[submodule "ai/z3"]
	path = ai/z3
	url = git@github.com:Z3Prover/z3.git
[submodule "fonts/source-code-pro"]
	path = fonts/source-code-pro
	url = git@github.com:adobe-fonts/source-code-pro.git
[submodule "websites/500lines"]
	path = websites/500lines
	url = git@github.com:aosabook/500lines.git
[submodule "data/remembergaza"]
	path = data/remembergaza
	url = git@github.com:ariefrahmansyah/remembergaza.git
[submodule "erlang/asdf"]
	path = erlang/asdf
	url = git@github.com:asdf-vm/asdf.git
[submodule "data/TheCounted"]
	path = data/TheCounted
	url = git@github.com:awesomealex1/TheCounted.git
[submodule "ai/Cplus2ASP"]
	path = ai/Cplus2ASP
	url = git@github.com:azreasoners/Cplus2ASP.git
[submodule "ai/F2LP"]
	path = ai/F2LP
	url = git@github.com:babb517/F2LP.git
[submodule "ai/arac"]
	path = ai/arac
	url = git@github.com:bayerj/arac.git
[submodule "lisp/prelude"]
	path = lisp/prelude
	url = git@github.com:bbatsov/prelude.git
[submodule "godot/Gut"]
	path = godot/Gut
	url = git@github.com:bitwes/Gut.git
[submodule "python/blender"]
	path = python/blender
	url = git@github.com:blender/blender.git
[submodule "python/pycycle"]
	path = python/pycycle
	url = git@github.com:bndr/pycycle.git
[submodule "ai/bot-lang"]
	path = ai/bot-lang
	url = git@github.com:bot-ai/bot-lang.git
[submodule "lisp/vundo"]
	path = lisp/vundo
	url = git@github.com:casouri/vundo.git
[submodule "python/celery"]
	path = python/celery
	url = git@github.com:celery/celery.git
[submodule "data/swda"]
	path = data/swda
	url = git@github.com:cgpotts/swda
[submodule "ai/ceptre"]
	path = ai/ceptre
	url = git@github.com:chrisamaphone/interactive-lp.git
[submodule "shaders/fragment-shaders"]
	path = shaders/fragment-shaders
	url = git@github.com:chriscamplin/fragment-shaders.git
[submodule "bibliography/journals"]
	path = bibliography/journals
	url = git@github.com:citation-style-language/journals.git
[submodule "bibliography/schema"]
	path = bibliography/schema
	url = git@github.com:citation-style-language/schema.git
[submodule "python/stackprinter"]
	path = python/stackprinter
	url = git@github.com:cknd/stackprinter.git
[submodule "javascript/cockatiel"]
	path = javascript/cockatiel
	url = git@github.com:connor4312/cockatiel.git
[submodule "python/construct"]
	path = python/construct
	url = git@github.com:construct/construct.git
[submodule "python/PRML"]
	path = python/PRML
	url = git@github.com:ctgk/PRML.git
[submodule "data/verbnet"]
	path = data/verbnet
	url = git@github.com:cu-clear/verbnet
[submodule "python/cython"]
	path = python/cython
	url = git@github.com:cython/cython.git
[submodule "awesomes/awesome-sql"]
	path = awesomes/awesome-sql
	url = git@github.com:danhuss/awesome-sql.git
[submodule "lua/gmod_luasocket"]
	path = lua/gmod_luasocket
	url = git@github.com:danielga/gmod_luasocket.git
[submodule "data/corpora"]
	path = data/corpora
	url = git@github.com:dariusk/corpora.git
[submodule "data/los-angeles-police-killings-data"]
	path = data/los-angeles-police-killings-data
	url = git@github.com:datadesk/los-angeles-police-killings-data.git
[submodule "awesomes/awesome-game-ai"]
	path = awesomes/awesome-game-ai
	url = git@github.com:datamllab/awesome-game-ai.git
[submodule "nlp/word2vec"]
	path = nlp/word2vec
	url = git@github.com:dav/word2vec.git
[submodule "python/jedi"]
	path = python/jedi
	url = git@github.com:davidhalter/jedi.git
[submodule "data/US-Police-Killings-Database"]
	path = data/US-Police-Killings-Database
	url = git@github.com:deadly-force/US-Police-Killings-Database.git
[submodule "lisp/doomemacs"]
	path = lisp/doomemacs
	url = git@github.com:doomemacs/doomemacs.git
[submodule "python/midiutil"]
	path = python/midiutil
	url = git@github.com:duggan/midiutil.git
[submodule "database/mysql2sqlite"]
	path = database/mysql2sqlite
	url = git@github.com:dumblob/mysql2sqlite.git
[submodule "lisp/pinentry-emacs"]
	path = lisp/pinentry-emacs
	url = git@github.com:ecraven/pinentry-emacs.git
[submodule "lisp/evil"]
	path = lisp/evil
	url = git@github.com:emacs-evil/evil
[submodule "lisp/lsp-mode"]
	path = lisp/lsp-mode
	url = git@github.com:emacs-lsp/lsp-mode.git
[submodule "awesomes/awesome-graphics"]
	path = awesomes/awesome-graphics
	url = git@github.com:ericjang/awesome-graphics.git
[submodule "awesomes/awesome-opengl"]
	path = awesomes/awesome-opengl
	url = git@github.com:eug/awesome-opengl.git
[submodule "misc/exiftool"]
	path = misc/exiftool
	url = git@github.com:exiftool/exiftool.git
[submodule "python/python-benedict"]
	path = python/python-benedict
	url = git@github.com:fabiocaccamo/python-benedict.git
[submodule "misc/fortls"]
	path = misc/fortls
	url = git@github.com:fortran-lang/fortls.git
[submodule "godot/yasnippet-godot-gdscript"]
	path = godot/yasnippet-godot-gdscript
	url = git@github.com:francogarcia/yasnippet-godot-gdscript.git
[submodule "ai/inform"]
	path = ai/inform
	url = git@github.com:ganelson/inform.git
[submodule "ai/RPG"]
	path = ai/RPG
	url = git@github.com:garydriley/RPG.git
[submodule "python/iesh"]
	path = python/iesh
	url = git@github.com:gemrb/iesh.git
[submodule "python/pelican"]
	path = python/pelican
	url = git@github.com:getpelican/pelican.git
[submodule "games/Sims3"]
	path = games/Sims3
	url = git@github.com:gibbed/Gibbed.Sims3.git
[submodule "games/Sims4"]
	path = games/Sims4
	url = git@github.com:gibbed/Gibbed.Sims4.git
[submodule "godot/godot-next"]
	path = godot/godot-next
	url = git@github.com:godot-extended-libraries/godot-next.git
[submodule "godot/gdnative"]
	path = godot/gdnative
	url = git@github.com:godot-rust/gdnative.git
[submodule "godot/godot-rust"]
	path = godot/godot-rust
	url = git@github.com:godot-rust/godot-rust.git
[submodule "godot/awesome-godot"]
	path = godot/awesome-godot
	url = git@github.com:godotengine/awesome-godot.git
[submodule "godot/godot-headers"]
	path = godot/godot-headers
	url = git@github.com:godotengine/godot-headers.git
[submodule "godot/godot-proposals"]
	path = godot/godot-proposals
	url = git@github.com:godotengine/godot-proposals.git
[submodule "python/grappa"]
	path = python/grappa
	url = git@github.com:grappa-py/grappa.git
[submodule "lisp/wordnut"]
	path = lisp/wordnut
	url = git@github.com:gromnitsky/wordnut.git
[submodule "awesomes/awesome-ai"]
	path = awesomes/awesome-ai
	url = git@github.com:hades217/awesome-ai.git
[submodule "games/bureaucracy"]
	path = games/bureaucracy
	url = git@github.com:historicalsource/bureaucracy.git
[submodule "games/hitchhikersguide"]
	path = games/hitchhikersguide
	url = git@github.com:historicalsource/hitchhikersguide.git
[submodule "games/DAOtools"]
	path = games/DAOtools
	url = git@github.com:humhue/DAOtools.git
[submodule "websites/notation"]
	path = websites/notation
	url = git@github.com:hypotext/notation.git
[submodule "lisp/auxin"]
	path = lisp/auxin
	url = git@github.com:inconvergent/auxin.git
[submodule "lisp/cl-veq"]
	path = lisp/cl-veq
	url = git@github.com:inconvergent/cl-veq.git
[submodule "ai/instal-stable"]
	path = ai/instal-stable
	url = git@github.com:instsuite/instal-stable.git
[submodule "ai/jacamo"]
	path = ai/jacamo
	url = git@github.com:jacamo-lang/jacamo.git
[submodule "python/inflect"]
	path = python/inflect
	url = git@github.com:jaraco/inflect.git
[submodule "ai/atom-mas2j"]
	path = ai/atom-mas2j
	url = git@github.com:jason-lang/atom-mas2j.git
[submodule "ai/jason"]
	path = ai/jason
	url = git@github.com:jason-lang/jason.git
[submodule "python/missingbuiltins"]
	path = python/missingbuiltins
	url = git@github.com:jbn/missingbuiltins.git
[submodule "data/pipeline-examples"]
	path = data/pipeline-examples
	url = git@github.com:jenkinsci/pipeline-examples
[submodule "websites/learn-y-in-x-minutes"]
	path = websites/learn-y-in-x-minutes
	url = git@github.com:jeoygin/learn-y-in-x-minutes.git
[submodule "python/liquid"]
	path = python/liquid
	url = git@github.com:jg-rp/liquid.git
[submodule "games/ambermoon"]
	path = games/ambermoon
	url = git@github.com:jhorneman/ambermoon.git
[submodule "games/amberstar"]
	path = games/amberstar
	url = git@github.com:jhorneman/amberstar.git
[submodule "lisp/emacs-modules"]
	path = lisp/emacs-modules
	url = git@github.com:jkitchin/emacs-modules
[submodule "python/org-ref"]
	path = python/org-ref
	url = git@github.com:jkitchin/org-ref.git
[submodule "python/pomegranate"]
	path = python/pomegranate
	url = git@github.com:jmschrei/pomegranate
[submodule "awesomes/awesome-falsehood"]
	path = awesomes/awesome-falsehood
	url = git@github.com:kdeldycke/awesome-falsehood.git
[submodule "python/schema"]
	path = python/schema
	url = git@github.com:keleshev/schema
[submodule "godot/godot3_procgen_demos"]
	path = godot/godot3_procgen_demos
	url = git@github.com:kidscancode/godot3_procgen_demos.git
[submodule "java/drools"]
	path = java/drools
	url = git@github.com:kiegroup/drools.git
[submodule "javascript/twinejs"]
	path = javascript/twinejs
	url = git@github.com:klembot/twinejs.git
[submodule "python/calibre"]
	path = python/calibre
	url = git@github.com:kovidgoyal/calibre.git
[submodule "python/gtk-samples"]
	path = python/gtk-samples
	url = git@github.com:liberforce/gtk-samples.git
[submodule "lisp/ob-prolog"]
	path = lisp/ob-prolog
	url = git@github.com:ljos/ob-prolog.git
[submodule "csharp/ReGoap"]
	path = csharp/ReGoap
	url = git@github.com:luxkun/ReGoap.git
[submodule "ai/COVID-sim"]
	path = ai/COVID-sim
	url = git@github.com:lvanhee/COVID-sim.git
[submodule "lisp/transient"]
	path = lisp/transient
	url = git@github.com:magit/transient.git
[submodule "python/marshmallow"]
	path = python/marshmallow
	url = git@github.com:marshmallow-code/marshmallow.git
[submodule "java/mastodon-android"]
	path = java/mastodon-android
	url = git@github.com:mastodon/mastodon-android.git
[submodule "python/matplotlib"]
	path = python/matplotlib
	url = git@github.com:matplotlib/matplotlib.git
[submodule "python/bumpver"]
	path = python/bumpver
	url = git@github.com:mbarkhau/bumpver.git
[submodule "awesomes/awesome-game-dev"]
	path = awesomes/awesome-game-dev
	url = git@github.com:mbrukman/awesome-game-dev.git
[submodule "python/pydispatcher"]
	path = python/pydispatcher
	url = git@github.com:mcfletch/pydispatcher
[submodule "javascript/webextensions-examples"]
	path = javascript/webextensions-examples
	url = git@github.com:mdn/webextensions-examples.git
[submodule "python/pronouncingpy"]
	path = python/pronouncingpy
	url = git@github.com:mewo2/pronouncingpy
[submodule "data/lsprotocol"]
	path = data/lsprotocol
	url = git@github.com:microsoft/lsprotocol.git
[submodule "ai/moise"]
	path = ai/moise
	url = git@github.com:moise-lang/moise.git
[submodule "ai/npl"]
	path = ai/npl
	url = git@github.com:moise-lang/npl.git
[submodule "python/hasse"]
	path = python/hasse
	url = git@github.com:mvcisback/hasse.git
[submodule "python/seaborn"]
	path = python/seaborn
	url = git@github.com:mwaskom/seaborn.git
[submodule "python/MarkovJunior"]
	path = python/MarkovJunior
	url = git@github.com:mxgmn/MarkovJunior.git
[submodule "godot/godot_dialogue_manager"]
	path = godot/godot_dialogue_manager
	url = git@github.com:nathanhoad/godot_dialogue_manager.git
[submodule "python/networkx"]
	path = python/networkx
	url = git@github.com:networkx/networkx.git
[submodule "lisp/3-lisp"]
	path = lisp/3-lisp
	url = git@github.com:nikitadanilov/3-lisp
[submodule "python/llvmlite"]
	path = python/llvmlite
	url = git@github.com:numba/llvmlite.git
[submodule "python/numpy"]
	path = python/numpy
	url = git@github.com:numpy/numpy.git
[submodule "rust/nushell"]
	path = rust/nushell
	url = git@github.com:nushell/nushell.git
[submodule "python/pygls"]
	path = python/pygls
	url = git@github.com:openlawlibrary/pygls.git
[submodule "awesomes/awesome-artificial-intelligence"]
	path = awesomes/awesome-artificial-intelligence
	url = git@github.com:owainlewis/awesome-artificial-intelligence.git
[submodule "python/jedi-language-server"]
	path = python/jedi-language-server
	url = git@github.com:pappasam/jedi-language-server.git
[submodule "awesomes/awesome-pipeline"]
	path = awesomes/awesome-pipeline
	url = git@github.com:pditommaso/awesome-pipeline.git
[submodule "python/ptyprocess"]
	path = python/ptyprocess
	url = git@github.com:pexpect/ptyprocess.git
[submodule "games/mwde"]
	path = games/mwde
	url = git@github.com:pineapplemachine/mwde.git
[submodule "python/platformdirs"]
	path = python/platformdirs
	url = git@github.com:platformdirs/platformdirs.git
[submodule "lisp/chemacs2"]
	path = lisp/chemacs2
	url = git@github.com:plexus/chemacs2.git
[submodule "python/pdfrw"]
	path = python/pdfrw
	url = git@github.com:pmaupin/pdfrw.git
[submodule "python/pony"]
	path = python/pony
	url = git@github.com:ponyorm/pony.git
[submodule "lisp/transient-showcase"]
	path = lisp/transient-showcase
	url = git@github.com:positron-solutions/transient-showcase.git
[submodule "ai/clingo"]
	path = ai/clingo
	url = git@github.com:potassco/clingo.git
[submodule "misc/pre-commit-hooks"]
	path = misc/pre-commit-hooks
	url = git@github.com:pre-commit/pre-commit-hooks.git
[submodule "misc/pre-commit"]
	path = misc/pre-commit
	url = git@github.com:pre-commit/pre-commit.git
[submodule "python/doit-graph"]
	path = python/doit-graph
	url = git@github.com:pydoit/doit-graph.git
[submodule "python/pygments"]
	path = python/pygments
	url = git@github.com:pygments/pygments
[submodule "python/pluggy"]
	path = python/pluggy
	url = git@github.com:pytest-dev/pluggy.git
[submodule "python/python-lsp-server"]
	path = python/python-lsp-server
	url = git@github.com:python-lsp/python-lsp-server.git
[submodule "python/poetry"]
	path = python/poetry
	url = git@github.com:python-poetry/poetry.git
[submodule "python/twitter-tools"]
	path = python/twitter-tools
	url = git@github.com:python-twitter-tools/twitter.git
[submodule "python/mypy"]
	path = python/mypy
	url = git@github.com:python/mypy.git
[submodule "python/peps"]
	path = python/peps
	url = git@github.com:python/peps.git
[submodule "data/python-bylaws"]
	path = data/python-bylaws
	url = git@github.com:python/psf-bylaws.git
[submodule "websites/quality-diversity"]
	path = websites/quality-diversity
	url = git@github.com:quality-diversity/quality-diversity.github.io.git
[submodule "awesomes/awesome-dotnet"]
	path = awesomes/awesome-dotnet
	url = git@github.com:quozd/awesome-dotnet.git
[submodule "lisp/radian"]
	path = lisp/radian
	url = git@github.com:radian-software/radian.git
[submodule "lisp/straight"]
	path = lisp/straight
	url = git@github.com:radian-software/straight.el.git
[submodule "python/renpy"]
	path = python/renpy
	url = git@github.com:renpy/renpy.git
[submodule "ai/microtalespin"]
	path = ai/microtalespin
	url = git@github.com:rntz/microtalespin.git
[submodule "ai/relsat"]
	path = ai/relsat
	url = git@github.com:roberto-bayardo/relsat.git
[submodule "awesomes/awesome-math"]
	path = awesomes/awesome-math
	url = git@github.com:rossant/awesome-math.git
[submodule "awesomes/awesome-scientific-python"]
	path = awesomes/awesome-scientific-python
	url = git@github.com:rossant/awesome-scientific-python.git
[submodule "rust/rls"]
	path = rust/rls
	url = git@github.com:rust-lang/rls.git
[submodule "rust/analyzer"]
	path = rust/analyzer
	url = git@github.com:rust-lang/rust-analyzer.git
[submodule "awesomes/awesome-rust"]
	path = awesomes/awesome-rust
	url = git@github.com:rust-unofficial/awesome-rust.git
[submodule "rust/patterns"]
	path = rust/patterns
	url = git@github.com:rust-unofficial/patterns.git
[submodule "rust/cargo-make"]
	path = rust/cargo-make
	url = git@github.com:sagiegurari/cargo-make.git
[submodule "python/scikit-learn"]
	path = python/scikit-learn
	url = git@github.com:scikit-learn/scikit-learn.git
[submodule "python/scipy"]
	path = python/scipy
	url = git@github.com:scipy/scipy.git
[submodule "python/bibtexparser"]
	path = python/bibtexparser
	url = git@github.com:sciunto-org/python-bibtexparser.git
[submodule "python/scrapy"]
	path = python/scrapy
	url = git@github.com:scrapy/scrapy.git
[submodule "misc/mastodon-lists"]
	path = misc/mastodon-lists
	url = git@github.com:seanthegeek/mastodon-lists.git
[submodule "data/police-killings"]
	path = data/police-killings
	url = git@github.com:seattletimes/police-killings.git
[submodule "python/xmlschema"]
	path = python/xmlschema
	url = git@github.com:sissaschool/xmlschema.git
[submodule "games/DGDL"]
	path = games/DGDL
	url = git@github.com:siwells/DGDL.git
[submodule "python/snakemake"]
	path = python/snakemake
	url = git@github.com:snakemake/snakemake.git
[submodule "games/spacestation13"]
	path = games/spacestation13
	url = git@github.com:spacestation13/SS13-Codebases.git
[submodule "python/sphinx"]
	path = python/sphinx
	url = git@github.com:sphinx-doc/sphinx.git
[submodule "python/sphinx-themes"]
	path = python/sphinx-themes
	url = git@github.com:sphinx-themes/sphinx-themes.org.git
[submodule "python/luigi"]
	path = python/luigi
	url = git@github.com:spotify/luigi.git
[submodule "games/40ksim"]
	path = games/40ksim
	url = git@github.com:stassa/wh40ksim.git
[submodule "ai/encounter-editor-1.01"]
	path = ai/encounter-editor-1.01
	url = git@github.com:storytron/encounter-editor-1.01.git
[submodule "games/gossip"]
	path = games/gossip
	url = git@github.com:storytron/game-gossip-java.git
[submodule "ai/storytron-authors-guide"]
	path = ai/storytron-authors-guide
	url = git@github.com:storytron/storytron-1-authors-guide.git
[submodule "ai/storytron-tutorial"]
	path = ai/storytron-tutorial
	url = git@github.com:storytron/storytron-1-tutorial.git
[submodule "ai/storyworlds"]
	path = ai/storyworlds
	url = git@github.com:storytron/storyworlds.git
[submodule "ai/storytron-swat"]
	path = ai/storytron-swat
	url = git@github.com:storytron/swat.git
[submodule "ai/post-sharp"]
	path = ai/post-sharp
	url = git@github.com:suegy/posh-sharp.git
[submodule "haskell/extensible-effects"]
	path = haskell/extensible-effects
	url = git@github.com:suhailshergill/extensible-effects.git
[submodule "music/supercollider"]
	path = music/supercollider
	url = git@github.com:supercollider/supercollider.git
[submodule "lisp/spacemacs"]
	path = lisp/spacemacs
	url = git@github.com:syl20bnr/spacemacs.git
[submodule "python/colorama"]
	path = python/colorama
	url = git@github.com:tartley/colorama.git
[submodule "python/xsdata-plantuml"]
	path = python/xsdata-plantuml
	url = git@github.com:tefra/xsdata-plantuml.git
[submodule "python/xsdata"]
	path = python/xsdata
	url = git@github.com:tefra/xsdata.git
[submodule "games/tgstation"]
	path = games/tgstation
	url = git@github.com:tgstation/tgstation.git
[submodule "music/tidal"]
	path = music/tidal
	url = git@github.com:tidalcycles/Tidal.git
[submodule "lisp/helm-bibtex"]
	path = lisp/helm-bibtex
	url = git@github.com:tmalsburg/helm-bibtex.git
[submodule "python/pyrsistent"]
	path = python/pyrsistent
	url = git@github.com:tobgu/pyrsistent.git
[submodule "python/twisted"]
	path = python/twisted
	url = git@github.com:twisted/twisted.git
[submodule "python/transitions"]
	path = python/transitions
	url = git@github.com:tyarkoni/transitions.git
[submodule "rust/emacs-module"]
	path = rust/emacs-module
	url = git@github.com:ubolonton/emacs-module-rs.git
[submodule "awesomes/awesome-c-sharp"]
	path = awesomes/awesome-c-sharp
	url = git@github.com:uhub/awesome-c-sharp.git
[submodule "awesomes/awesome-python2"]
	path = awesomes/awesome-python2
	url = git@github.com:uhub/awesome-python.git
[submodule "awesomes/awesome-python"]
	path = awesomes/awesome-python
	url = git@github.com:vinta/awesome-python.git
[submodule "lua/luadec"]
	path = lua/luadec
	url = git@github.com:viruscamp/luadec.git
[submodule "godot/godot-tiled-importer"]
	path = godot/godot-tiled-importer
	url = git@github.com:vnen/godot-tiled-importer.git
[submodule "data/data-police-shootings"]
	path = data/data-police-shootings
	url = git@github.com:washingtonpost/data-police-shootings.git
[submodule "java/xsd-gen"]
	path = java/xsd-gen
	url = git@github.com:wiztools/xsd-gen.git
[submodule "lisp/game-of-life"]
	path = lisp/game-of-life
	url = git@github.com:woodrush/lisp-in-life.git
[submodule "games/project-grabbed"]
	path = games/project-grabbed
	url = git@github.com:x1nixmzeng/project-grabbed.git
[submodule "python/humanfriendly"]
	path = python/humanfriendly
	url = git@github.com:xolox/python-humanfriendly.git
[submodule "python/githooks"]
	path = python/githooks
	url = git@github.com:ygpedroso/python-githooks.git
[submodule "python/pyswip"]
	path = python/pyswip
	url = git@github.com:yuce/pyswip
[submodule "misc/klonk"]
	path = misc/klonk
	url = git@github.com:zaboople/klonk.git
[submodule "ai/NetLogo"]
	path = ai/NetLogo
	url = git@github.com:NetLogo/NetLogo.git
[submodule "ai/eisbot"]
	path = ai/eisbot
	url = git@github.com:bgweber/eisbot
[submodule "ai/interactive-lp"]
	path = ai/interactive-lp
	url = git@github.com:chrisamaphone/interactive-lp.git
[submodule "ai/drools"]
	path = ai/drools
	url = git@github.com:kiegroup/drools.git
[submodule "ai/encounter-editor"]
	path = ai/encounter-editor
	url = git@github.com:storytron/encounter-editor-3.11.git
[submodule "python/typeshed"]
	path = python/typeshed
	url = git@github.com:python/typeshed.git
[submodule "lisp/treebot"]
	path = lisp/treebot
	url = git@github.com:william42/treebot.git
[submodule "games/ONI-mods"]
	path = games/ONI-mods
	url = git@github.com:Cairath/ONI-Mods.git
[submodule "misc/pdf20examples"]
	path = misc/pdf20examples
	url = git@github.com:pdf-association/pdf20examples.git
[submodule "misc/big-list-of-naughty-strings"]
	path = misc/big-list-of-naughty-strings
	url = git@github.com:minimaxir/big-list-of-naughty-strings.git
[submodule "python/cpython"]
	path = python/cpython
	url = git@github.com:python/cpython.git
[submodule "python/python-api-checklist"]
	path = python/python-api-checklist
	url = git@github.com:vintasoftware/python-api-checklist.git
